refreshButton: {
    position: 'absolute';
    bottom:0;
    left:0;
};

mapButton: {
    position: 'absolute';
    bottom:0;
    left:0;
};

settingsButton: {
    position: 'absolute';
    bottom:0;
    left:0;
};

